<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="JexcelUnit Category"
            id="JexcelUnit.commands.category">
      </category>
      <command
            name="Exceling Command"
            categoryId="JexcelUnit.commands.category"
            id="JexcelUnit.commands.excelingCommand">
      </command>
      <command
            name="Testing Command"
            categoryId="JexcelUnit.commands.category"
            id="JexcelUnit.commands.testingCommand">
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="JexcelUnit.commands.excelingCommand"
            class="jexcelunit.handlers.ExcelingHandler">
      </handler>
      
      <handler
            commandId="JexcelUnit.commands.testingCommand"
            class="jexcelunit.handlers.TestingHandler">
      </handler>
   
   
   
   </extension>
   
   
   
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="JexcelUnit.commands.excelingCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="JexcelUnit.commands.testingCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="JexcelUnit.toolbars.excelingToolbar">
            <command
                  commandId="JexcelUnit.commands.excelingCommand"
                  icon="icons/create_excel.png"
                  tooltip="Create Testing Excel"
                  id="JexcelUnit.toolbars.excelingCommand">
            </command>
         </toolbar>
      </menuContribution>
      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="JexcelUnit.toolbars.testingToolbar">
            <command
                  commandId="JexcelUnit.commands.testingCommand"
                  icon="icons/jexcelunit.png"
                  tooltip="Create Testable TestSuite Class."
                  id="JexcelUnit.toolbars.testingCommand">
            </command>
         </toolbar>
      </menuContribution>
      
      
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="JexcelUnit"
            name="Excelling Wizards">
      </category>
      <wizard
            category="JexcelUnit"
            class="jexcelunit.wizards.ExcellingWizard"
            icon="icons/sample.gif"
            id="jexcelunit.wizards.ExcellingWizard"
            name="TestingExcel">
      </wizard>
   </extension>

</plugin>
