<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="JexcelUnit Category"
            id="JexcelUnit.commands.category">
      </category>
      <command
            name="Testing Command"
            categoryId="JexcelUnit.commands.category"
            id="JexcelUnit.commands.testingCommand">
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="JexcelUnit.commands.testingCommand"
            class="jexcelunit.handlers.TestingHandler">
      </handler>
   </extension>
   
   
   
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="JexcelUnit.commands.testingCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="JexcelUnit.toolbars.testingToolbar">
            <command
                  commandId="JexcelUnit.commands.testingCommand"
                  icon="icons/jexcelunit.png"
                  tooltip="Create Testable Excel and Suite Class."
                  id="JexcelUnit.toolbars.testingCommand">
            </command>
         </toolbar>
      </menuContribution>
      
      
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="JexcelUnit"
            name="Excelling Wizards">
      </category>
      <wizard
            category="JexcelUnit"
            class="jexcelunit.wizards.ExcellingWizard"
            icon="icons/jexcelunit.png"
            id="jexcelunit.wizards.ExcellingWizard"
            name="Testable Excel .xlsx">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
  <extension
         point="org.eclipse.ui.views">
      <category
            name="JExcelUnit Views"
            id="jexcelunit.category.treeview">
      </category>
      <view
            name="JExcelUnit TestMaker"
            icon="icons/sample.gif"
            category="jexcelunit.category.treeview"
            class="jexcelunit.treeview.ClassTreeView"
            id="jexcelunit.treeview.ClassTreeView">
      </view>
   </extension>
</plugin>
